@model ice_cream.Models.Icecreams
@{
    ViewData["Title"] = "EditProducts";
    Layout = "~/Views/Shared/Admin.cshtml";

}

<style>
    .card {
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        font-size: 18px;
        font-weight: bold;
    }

    .form-control {
        border-radius: 6px;
    }

    button.btn-primary {
        border-radius: 6px;
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h4>Edit Icecream Details</h4>
            </div>
            <div class="card-body">
                <form asp-action="EditProducts" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
                    <input type="hidden" asp-for="IcecreamId" />
                    <!-- Name Field -->
                    <div class="form-group mb-3">
                        <label asp-for="Icecreamname">Icecream Name</label>
                        <input asp-for="Icecreamname" class="form-control" id="name" placeholder="Enter Ice cream Name " />
                    </div>
                    <!-- Email Field -->
                    <div class="form-group mb-3">
                        <label asp-for="Icecreamprice">Icecream Price</label>
                        <input asp-for="Icecreamprice" class="form-control" id="email" placeholder="Enter Icecream Price" />
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Image"></label>
                        <h6>Image can't be updated</h6>
                        <input asp-for="Image" type="hidden" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <!-- Submit Button -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

